* { 
    margin: 0; 
    padding: 0; 
  }
main {
    display: flex;
    flex-direction: column;
}
html, body {
    height: 100%;
}
body{
    display:flex;
    flex-direction: column;
}
.topimage{
    display:flex;
    justify-content: center;
    width: 150px;
}
.topimage #logoimg{
    height: 30px;
    margin-left: -20px;
}
header {
    margin-top: 15px;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 6px;
    justify-content: space-between;
}
.left-menu {
    display: flex;
    align-items: center;
}
.search-area{
    min-width: 700px;
    height: 44px;
    width: 30.5%;
    background-color: white;
    border-width: 1px;
    border-style: solid;
    border-radius: 22px;
    border-color: rgba(0, 0, 0, 0.1);
    display:flex;
    align-items: center;
}
.search-area:hover{
    border-color: white;
    box-shadow: 0 1px 5px 1px rgba(33,33,33,.2); 
}
.mainbutton:hover{
    box-shadow: 0 0 0 1px rgba(33,33,33,.2), 2px 2px 2px 0 rgba(33,33,33,.2); 
}
#search{
    border-style: none;
    outline: none;
    background-color: transparent;
    width: 100%;
    margin-left: 21px;
    font-size: 14px;
    font-family: sans-serif;
}
.search-area:focus-within {
    border-color: white;
    box-shadow: 0 1px 5px 1px rgba(33,33,33,.2); 
}
#searchicon {
    font-size: 20px;
    margin-left: 8px;
    margin-right: 15px;
    user-select: inherit;
}
#search::placeholder{
    font-family: sans-serif;
}
.material-icons.icon-blue { 
    color: rgba(1, 18, 255, 0.644); 
}
.a-right-menu #apps{
    color: rgba(0, 0, 0, 0.6);
    user-select: none;
}
.a-right-menu{
    margin-top: 8px;
    display: flex;
}
.arm-icons{
    margin: -2px 10px ;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}  
a:hover {
    text-decoration: underline;
}  
a:active {
    text-decoration: underline;
}
.a-right {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin-left: 15px;
}
.arm-circle{
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 15px;
    margin-left: 10px;
    margin-top: -5px;
    width: 32px;
    height: 32px;
    line-height: 33px;
    border-radius: 50%;
    font-size: 16px;
    color: rgb(255, 255, 255);
    text-align: center;
    background: rgb(160, 20, 20)
}
button {
    background-color: transparent;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
.outernavbar{
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.navbar {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 660px;
    width: 30.5%;
    margin-left: 180px;
}
.elements{
    margin-bottom: 8px;
    display: flex;
    align-items: center;
}
.element {
    background-color: white;
    display: flex;
    align-items: center;
    padding-right: 20px;
    margin-right: 1px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color:rgba(0, 0, 0, 0.6);
    text-decoration: none;
}
.element i {
    margin-right: 5px;
    font-size: 18px;
}
.el-active {
    color: rgba(0, 58, 219, 0.836);
}
.rightside{
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}
.rightside p {
    margin-left: 20px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color:rgba(0, 0, 0, 0.6);
    text-decoration: none;
}
.navbar a  {
    text-decoration: none;
}
.nrresults {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    margin: 8px 0 10px 0;
    color: rgba(0, 0, 0, 0.6);
    margin-left: 180px;
}
.filler {
    flex: 1 0 auto;
}
footer {
    font-family: arial,sans-serif;
    background-color: rgba(177, 176, 176, 0.144);
    color:rgba(70, 70, 70, 0.884);
    font-size: 15px;
    flex-shrink: 0;
}
.hornifooter {
    height: 50px;
    display:flex;
    align-items: center;
    border-bottom: 1px solid #dadce0;
}
.country {
    margin-left: 25px;
}
.spodnifooter a{
    font-family: arial,sans-serif;
    color:rgba(70, 70, 70, 0.884);
    font-size: 15px;
}
.spodnifooter {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sf-left{
    margin-left: 15px;
}
.f-left{
    margin: 10px;
}
.f-right{
    margin: 10px;
}
.sf-right{
    margin-right: 15px;
}
